version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10
    steps:
      - checkout

      - restore_cache:
          key: hubot-script-dependencies-{{ checksum "yarn.lock" }}

      - run:
          name: Install dependencies
          command: yarn install

      - save_cache:
          key: hubot-script-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

      - run:
          name: Run test
          command: yarn test
      - run:
          name: Measure coverage
          command: |
            yarn run coverage
            cat coverage/lcov.info | "$(npm bin)/coveralls"
